<p style="color: green"><%= notice %></p>
<table id="myTable">
	<thead>
			<tr  class="header">
			<th>No</th>
			<th>name</th>
			<th>description</th>
			<th>price</th>
			<th colspan="2">Action</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each_with_index do |product, sindex| %>
			<tr>
		  	  <td><%= sindex+1 %></td>
					<td><%= product.name %></td>
					<td><%= product.description %></td>
					<td><%= product.price %></td>
					<td><%= link_to 'Remove from favorites', remove_favorite_product_favorites_path(product.id, remove_by: "lists") %></td>
					<td><%= link_to "Details", product %></td>
			</tr>
		<% end %>		
	</tbody>
</table>


<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 70%;
  border-radius: 10px;
  font-size: 16px;
  padding: 12px 20px 8px 40px;
  border: 1px solid #ddd;
  margin-bottom: 14px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 7px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>

