<p id="notice"><%= notice %></p>

<h3 class="text-center">Orders</h3>

<table id="myTable" >
  <thead>
    <tr class="header">
      <th>Title</th>      
      <th>Image</th>
      <th>Price</th>
      <th>Size</th>
      <th>Status</th>
      <th> Full Address</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
      <% current_user.orders.each do |order| %>
        <% order.cart.cart_items.each do |item| %>
          <% product = Product.unscoped.find(item.product_id)%>
          <tr>
            <td><%= product.name %></td>
            <% if product.pictures.present? %>
            <td><%= image_tag url_for(product.pictures.last), hight:150,width:150 %></td>
            <% else %>
            <td></td>
            <% end %>
            <td><%= item.unit_price %> <b>(quantity: <%= item.quantity%>)</b></td>
            <td><%= product.size %></td>
            <td><%= product.status %></td>
            <td><%= order.full_address %></td>
            <td><%= link_to 'Rate & Review Product', order_path(order.id,cart_item: item.id), class: 'btn btn-primary', style: "color:white;" %></td>
          </tr>
        <% end %>
        <tr>
          <% if order.cart.cart_items.any? %>
            <th><b>Total Quantity <%= order.cart.quantity%></b></th>
            <th><b>Total Price <%= order.cart.sub_total%><b></th>
            <td>Order Date <%= order.created_at %></td>
          <% else %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
</table>


<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 70%;
  border-radius: 10px;
  font-size: 16px;
  padding: 12px 20px 8px 40px;
  border: 1px solid #ddd;
  margin-bottom: 14px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 7px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>


