<% if current_cart.cart_items.present? %>
<h2 class="text-center">Cart Items</h2>
<table id="myTable">
  <thead>
    <tr  class="header">
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Quantity</th>
      <th>price</th>
      <th>Unit price</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
    <% if cart_item.product.present? %>
    <tr>
      <td><%= cart_item&.product&.name %></td>
      <td><%= cart_item&.product&.description %></td>
      <td><% if cart_item&.product&.pictures.present? %>
        <%= image_tag url_for(cart_item&.product&.pictures.last), hight:150,width:150 %>
        <% end %>
      </td>
      <!-- <td><%#= cart_item.quantity %></td> -->
      <td>
        <div class="btn-group mr-2" role="group" aria-label="First 
          group">
          <% unless cart_item.quantity.to_i == 1 %>
          <div><%= link_to "-", update_cart_item_quantity_path(type: "decrease", cart_item_id: cart_item.id), class: "btn btn-danger", remote: true %>
          </div>
          <% end %>
          <div>
            <%= text_field_tag :quantity, cart_item.quantity, style: " height:35px;width:80px;", class: "text-center", min: 1 %>
          </div>
          <div><%= link_to "+", update_cart_item_quantity_path(type: "increase", cart_item_id: cart_item.id), class: "btn btn-success", remote: true %>        	
          </div>
        </div>
      </td>
      <td><%= cart_item.price %></td>
      <td><%= cart_item.unit_price %></td>
      <td><%= link_to "Remove",  product_remove_cart_path(cart_item.product.id)  %></td>
    </tr>
    <% end %>
    <% end %>		
  </tbody>
</table>
<br>
<div class="float-right p-2 mb-2 bg-success text-white " style="margin-right: 3%">Total    price: <%= current_cart.sub_total %>	</div>
<div class="float-right p-2 mb-2 bg-success text-white " style="margin-right: 5%" >
  Total Quantity: <%= current_cart.quantity %>&nbsp;&nbsp;
</div>
<div>
  <% if current_cart.cart_items.present? %>
  <%= link_to 'Checkout',  new_order_path, :class => "btn btn-success", style: "color:white;" %>
  <% else %>
  <a href="/" class="btn btn-success" style="color: white;">Go to Shoping</a>
  <% end %>
</div>
<% else %>
<a href="/products" class="shopping btn btn-success">Start shopping</a>
<% end %>
<style>
  * {
  box-sizing: border-box;
  }
  #myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 70%;
  border-radius: 10px;
  font-size: 16px;
  padding: 12px 20px 8px 40px;
  border: 1px solid #ddd;
  margin-bottom: 14px;
  }
  #myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  }
  #myTable th, #myTable td {
  text-align: left;
  padding: 7px;
  }
  #myTable tr {
  border-bottom: 1px solid #ddd;
  }
  #myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
  }
  .shopping{
    text-align: center;
    margin-left: 50%;
    margin-top: 10% !important;
  }
</style>