
<table id="myTable">
	<thead>
		<tr>        
        <%= form_tag products_path, :method => "get" do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :contact_name => nil %>
        <% end %>
                  
    </tr>
		<tr  class="header">
			<th>ID</th>
			<th>name</th>
			<th>description</th>
			<th>price</th>
			<th colspan="1">Action</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
			<tr>
		  	  <td><%= product.id %></td>
					<td><%= product.name %></td>
					<td><%= product.description %></td>
					<td><%= product.price %></td>
					<td><%= link_to "Details", product %></td>
			</tr>
		<% end %>		
	</tbody>
</table>
<% if @products.present? %>
	<%= will_paginate @products %>
<% end %>




<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 70%;
  border-radius: 10px;
  font-size: 16px;
  padding: 12px 20px 8px 40px;
  border: 1px solid #ddd;
  margin-bottom: 14px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 7px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>

