<h1>product</h1>
<p>
	<% if @product.pictures.any? %>
		<% @product.pictures.each do |pic| %>
			<%= image_tag url_for(pic), hight:150,width:150 %>
		<% end %>
	<% end %>
</p>
<p>
	<strong>name</strong>
	<%= @product.name %>
</p>

<p>
	<strong>description</strong>
	<%= @product.description %>
</p>

<p>
	<strong>price</strong>
	<%= @product.price %>
</p>
<p>
<% unless Favorite.find_by(user_id: current_user.id, product_id: @product.id).present? %>
  <%= link_to 'Add to favorites', add_favorite_product_favorites_path(@product.id) %>
<% else %>
  <%= link_to 'Remove from favorites', remove_favorite_product_favorites_path(@product.id) %>
<% end %>
</p>
<p>
	<% if user_signed_in? %>
    <% if current_cart.cart_items.where(product_id: @product.id).first.present? %>
	    <%= link_to "Go to Cart", carts_path %>
	  <% else %>
	    <%= link_to 'Add to cart', product_add_cart_path(@product.id) %>
	  <% end %>
  <% end %>
</p>
<%= link_to 'Back', products_path %>

<%#= image_tag url_for(Product.last.pictures.first)%>

